<!DOCTYPE html>
<html>
  <head>
    <title>Angular (COMEM+ Web Dev)</title>
    <meta charset='utf-8'>

    <link rel='stylesheet' href='../../assets/unsemantic-grid-base.css'>
    <link rel='stylesheet' href='../../assets/unsemantic-grid-desktop.css'>
    <link rel='stylesheet' href='../../assets/bootstrap-btn.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link rel='stylesheet' href='../../assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz.css'>
    <link rel='stylesheet' href='../../assets/fonts/DroidSerif/DroidSerif.css'>
    <link rel='stylesheet' href='../../assets/fonts/UbuntuMono/UbuntuMono.css'>

    <style>
      body {
        font-family: 'Droid Serif';
      }

      h1, h2, h3, h4 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }

      h4 {
        font-size: 30px;
        margin: 1em 0;
      }

      h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
        text-decoration: underline;
      }

      .image-header h2, .image-header h3, .image-header h4, .image-header h5 .image-header h6 {
        display: none;
      }

      strong em {
        text-decoration: underline;
      }

      center {
        margin: 1em 0;
      }

      .remark-code, .remark-inline-code {
        font-family: 'Ubuntu Mono';
      }

      .remark-inline-code {
        padding: 0 2px;
        background-color: #eee;
        color: indianred;
        border-radius: 3px;
        border: thin solid #dddddd;
      }

      .remark-slide-content img {
        max-width: 100%;
      }

      .remark-slide-content p:first-child, .remark-slide-content ul:first-child {
        margin-top: 0;
      }

      .container {
        clear: both;
      }

      ul li {
        margin-top: 0.4em;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      table th, td {
        padding: 0.2em 0.4em;
      }

      table tbody th, td {
        border-top: 1px solid #c0c0c0;
      }

      pre:first-child, blockquote:first-child {
        margin-top: 0;
      }

      blockquote {
        font-style: italic;
        border-left: 5px solid khaki;
        margin-left: 0;
        padding-left: 35px;
      }

      .center blockquote {
        margin-right: 0;
        padding-right: 35px;
        border-right: 5px solid khaki;
      }

      #slide-logo {
        position: absolute;
        top: 0;
        left: 0;
      }

      #slide-logo img {
        height: 60px;
      }

      .breadcrumbs {
        position: absolute;
        top: 15px;
        left: 5.333em;
        font-size: 15px;
        color: #c0c0c0;
      }

      .breadcrumbs a {
        color: #c0c0c0;
        text-decoration: none;
      }

      .breadcrumbs a:hover {
        text-decoration: underline;
      }

      .center.middle .breadcrumbs {
        display: none;
      }

      #slide-links {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 15px;
        text-align: right;
      }

      .w5 { width: 5%; }
      .w10 { width: 10%; }
      .w15 { width: 15%; }
      .w20 { width: 20%; }
      .w30 { width: 30%; }
      .w35 { width: 35%; }
      .w40 { width: 40%; }
      .w45 { width: 45%; }
      .w50 { width: 50%; }
      .w55 { width: 55%; }
      .w60 { width: 60%; }
      .w65 { width: 65%; }
      .w70 { width: 70%; }
      .w75 { width: 75%; }
      .w80 { width: 80%; }
      .w85 { width: 85%; }
      .w90 { width: 90%; }
      .w95 { width: 95%; }
      .w100 { width: 100%; }

      .x2 { font-size: 2em; }
      .x3 { font-size: 3em; }
      .x4 { font-size: 4em; }

      .compact-table table td {
        font-size: 0.9em;
      }

      .shadow {
        box-shadow: lightgrey 0 0 3px;
      }
      p.shadow { width: 100%; }
    </style>
  </head>
  <body>

    <!-- Slides top-left logo -->
    <span id='slide-logo' style='display:none;'><a href='http://www.heig-vd.ch/'><img src='../../assets/heig.png' /></a></span>

    <!-- Slides top-right links -->
    <div id='slide-links' style='display:none;'>
      <!-- GitHub link -->
      <a href='https://github.com/MediaComem/comem-webdev/tree/d47070dd054c2c411c10ef4ba15968b4ee0d0eba/subjects/angular/'><img src='../../assets/github.svg' width='24' height='24' alt='Source code' title='GitHub' /></a>
      <!-- Home link -->
      <a class='home-link' href='https://mediacomem.github.io/comem-webdev-docs/'><img src='../../assets/home.svg' width='24' height='24' alt='Home' title='Home' /></a>
    </div>

    <!-- Remark slides -->
    <textarea id='source'>
# Angular

Getting started with and understanding the basics of [AngularJS][angular] (version 1), the JavaScript front-end web application framework.

This material is used in [COMEM+](http://www.heig-vd.ch/comem) [web development courses](https://github.com/MediaComem/comem-webdev).


**You will need**

* [Google Chrome][chrome] (recommended, any browser with developer tools will do)

**Recommended reading**

* [JavaScript](../js/)
* [JavaScript closures](../js-closures/)





---
class: center, middle, image-header
## What is Angular?

.breadcrumbs[<a href="#1">Angular</a>]



<p class='center'><img src='images/angular.png' width='20%' /></p>

> "Angular is a complete **JavaScript front-end web application framework** created by Google to address many of the challenges of developing **rich single-page applications**."



---
### Traditional Model-View-Controller (MVC) architecture

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

In traditional MVC frameworks,
the application's **Controllers** receive the user's requests when navigating from page to page in the browser,
and respond by generating HTML **Views** from the **Model**.

<img src='images/mvc.png' width='100%' />



---
### DOM manipulation and AJAX requests

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

.grid-60[

Serving dynamic HTML from the server works, but each user action requires that a **complete page be loaded** from the server.

To improve user experience:

* [AJAX][ajax] was developed in 1999 to retrieve data from the server asynchronously in the background
* [jQuery][jquery] was released in 2006 to simplify DOM manipulation and AJAX requests


]
.grid-40[

<img src='images/jquery-ajax.gif' class='w100' />


]
.container[

This allows you to load data from the server in the background and **dynamically update the page** without reloading.

Initially, these technologies were used to **enrich** existing HTML pages that were still built and served by a traditional MVC framework.




]
---
### Single-page applications

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

.grid-50[

A single-page application (SPA) is a web application that **fits on a single web page** but provides a user experience similar to that of a **desktop application**:

* All content is retrieved with a **single page load or loaded dynamically**
* The page **does not reload** (location hash or [HTML 5 History API][html-history-api] to navigate between logical pages)
* Dynamic **communication with the web server** behind the scenes


]
.grid-50[

<img src='images/spa.png' width='100%' />




]
---
### Dynamic HTML

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

> "AngularJS is what HTML would have been, had it been designed for building web-apps."

HTML is great for displaying static documents, but is not so good at describing the **dynamic views** needed for **rich, interactive applications**.

With Angular, you can:
  * **Automatically bind data** to HTML elements
  * **Extend the HTML vocabulary** with new elements and attributes
  * **Isolate** your application logic from how the data is displayed



---
### Evolution of Angular

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

Angular is one of the most popular client-side frameworks, and it is still evolving.
[Angular 2][angular-2] has been released recently (June 2016) to take advantage of:

* [TypeScript][typescript]: a superset of JavaScript with optional typing and the latest ECMAScript features
* [Web components][web-components]: a way to create reusable user interface widgets

This tutorial will cover Angular 1, but many concepts are useful to understand Angular 2 as well.



---
class: center, middle
## Getting started

.breadcrumbs[<a href="#1">Angular</a>]





---
### Starter template

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

This tutorial assumes that you have a web page running with Angular included.
If you don't, you can save the following HTML to a file and open it in your browser:

```html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Angular demo</title>
    <script
src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js'>
    </script>
  </head>
  <body>
    <!-- Your HTML goes here -->
    <script>
      <!-- Your JavaScript goes here -->
    </script>
  </body>
</html>
```

You should keep your [developer console][chrome-dev] open throughout this tutorial to detect errors in your code.



---
### Overview

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

.grid-50[

**Angular elements**

* Modules
* Controllers
* Scope
* Services
* Filters
* Directives & components
* Constants
* Config functions
* Run functions


]
.grid-50[

**Angular concepts**

* Interpolation
* Two-way data binding
* Dependency injection
* Form validation




]
---
### Modules

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

To make an Angular application, you have to create a **module**:

```js
// Create an angular module
angular.module('starter', []);
```

The two arguments of `angular.module()` are:

* A name (in this case: the name of your application)
* A list of dependencies (leave it blank for now)

To plug your Angular application into a web page, use the `ng-app` attribute.
It's customary to put it on the `<body>` tag:

```html
*<body ng-app='starter'>
  <!-- Page content -->
</body>
```



---
### Controllers

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

A controller is a function which **controls part of an HTML template**:

```js
angular.module('starter').controller(`'HelloController'`, function($scope) {
  $scope.name = 'World';
});
```

You can apply your controller to the HTML tags you want to control with the `ng-controller` attribute:

```html
<div `ng-controller='HelloController'`>
  <p>Hello {{ name }}!</p>
</div>
```

Let's dig into that line by line.

---
#### Creating a controller

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

Note that we call `angular.module()` again, but this time **only with the name**.
Instead of creating a new module, this returns the **existing module** with that name:

```js
`angular.module('starter')`.controller('HelloController', function($scope) {
  $scope.name = 'World';
});
```

Then, we define a controller named `HelloController`:

```js
angular.module('starter')`.controller('HelloController'`, function($scope) {
  $scope.name = 'World';
});
```

That controller is simply a **function**:

```js
angular.module('starter').controller('HelloController', `function($scope) {`
* $scope.name = 'World';
`}`);
```

---
#### The scope

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

The `$scope` object is the **view model**, i.e. the model that will be presented by the view:

```js
angular.module('starter').controller('HelloController', function(`$scope`) {
  `$scope.name` = 'World';
});
```

Properties you attach to the scope can be interpolated into HTML templates with double curly braces:

```html
<div ng-controller='HelloController'>
  <p>Hello `{{ name }}`!</p>
</div>
```

---
#### Named controllers

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

You can also access the scope by using **named controllers**.
**Instead** of using the `$scope`, you attach properties directly to the controller using `this`:

```js
angular.module('starter').controller('HelloController', function() {
  `var ctrl = this;`
  `ctrl.name` = 'World';
});
```

In the template, use `MyController as myName` in the `ng-controller` attribute.
This assigns a name to the controller, which you can then use in interpolation:

```html
<div ng-controller='HelloController `as ctrl`'>
  <p>Hello {{ `ctrl.name` }}!</p>
</div>
```

Even when using this syntax, there is still a **scope** being created and used.

You will find examples of both (using only the scope or using named controllers) in the documentation and examples online.

---
#### Using functions in the view

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

You can also attach functions to the scope or controller:

```js
angular.module('starter').controller('HelloController', function() {
  var ctrl = this;
  ctrl.name = 'World';
* ctrl.double = function(n) {
*   return n * 2;
* };
});
```

These functions can be called in the view:

```html
<div ng-controller='HelloController as ctrl'>
  <p>Hello {{ ctrl.name }}!</p>
* <p>Two times two equals {{ ctrl.double(2) }}</p>
</div>
```

---
#### Using `ng-model`

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

You can bind the **view model** and **view** together:

```js
angular.module('starter').controller('HelloController', function() {
  var ctrl = this;
  // ...
  `ctrl.value = 2;`
});
```

Reference this new `ctrl.value` variable in the view with `ng-model`:

```html
<p>Two times <input `ng-model='ctrl.value'` /> equals {{ ctrl.double(`ctrl.value`) }}</p>
```

---
#### Data binding

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

What's interesting about `ng-model` is that it goes both ways.
Add a function that modifies the value of your scope variable:

```js
angular.module('starter').controller('HelloController', function() {
  var ctrl = this;
  // ...
* ctrl.reset = function() {
*   ctrl.value = 2;
* };
});
```

Then add a button that calls this new function below the previous HTML:

```html
<p>Two times <input ng-model='ctrl.value' /> equals {{ ctrl.double(ctrl.value) }}</p>
*<button type='button' ng-click='ctrl.reset()'>Reset</button>
```

See how the view changes when you modify the value and click the reset button.

---
#### Two-way data binding

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

.grid-50[

Traditional templating systems bind data **in only one direction**.

The developer has to write code that constantly syncs the view with the model and vice versa.

<img src='images/one-way-data-binding.png' width='100%' />


]
.grid-50[

With Angular changes are **immediately reflected** in both view and model.

This is one of the great strengths of Angular: the **controller** is completely **isolated from and unaware of the view**.
It does not care about DOM manipulation or rendering concerns.

<img src='images/two-way-data-binding.png' width='100%' />




]
---
### Services

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

In general, controllers shouldn't try to do too much.
They should contain only the business logic needed for a **single view**.
Keep controllers slim is by encapsulating work that doesn't belong to controllers into **services** and then using these services in controllers.

You can create a service by calling `factory()`.
As the name implies, you must pass a **factory function** that will create and return the service.

Let's create a service with that `double` function we wrote earlier:

```js
angular.module('starter')`.factory('HelloService', function() {`

  var service = {};

  service.double = function(n) {
    return n * 2;
  };

  return service;
`}`);
```

---
#### Dependency injection

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#20">Services</a>]

Using the service is as simple as adding it as an argument to our controller:

```js
angular.module('starter').controller('HelloController', function(`HelloService`) {
  var ctrl = this;
  ctrl.name = 'World';
  ctrl.double = `HelloService.double`;
});
```

This works because Angular is built around **dependency injection**:

* When you define a controller, service or other kind of Angular element, you give it **a name**
* In the factory function that creates the controller (or other element), you tell Angular **the names of the other elements you need** as arguments
* Angular will **inject** the required elements into your factory function for you

---
#### Why dependency injection?

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#20">Services</a>]

.grid-50[

**Strong coupling**

```js
function Car() {
  this.engine = new Engine(24);
}
function Engine(gasLead) {
  this.gas = new Gas(gasLead);
}
function Gas(lead) {
  this.lead = lead;
}
```

<img src='images/di-new.png' width='100%' />


]
.grid-50[

**Loose coupling** (with an *injector*)

```js
function Car(engine) {
  this.engine = engine;
}
function Engine(gas) {
  this.gas = gas;
}
function Gas(lead) {
  this.lead = lead;
}
```

<img src='images/di-injection.png' width='100%' />


]
---
#### The $http service

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#20">Services</a>]

Angular provides several useful services out of the box.
The `$http` service can make AJAX requests for you:

```js
angular.module('starter').factory(HelloService, function(`$http`) {

  var service = {};

  service.retrieveJoke = function() {
    return `$http.get('https://api.icndb.com/jokes/random')`.then(function(res) {
      return res.data.value.joke;
    });
  };

  // ...

  return service;
});
```

---
#### Making HTTP requests through a service

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#20">Services</a>]

It's good practice to make HTTP requests in a service rather than in a controller directly.
That way your controller remains **as simple as possible** and only manages the view:

```js
angular.module('starter').controller('HelloController', function(HelloService) {

  var ctrl = this;
  this.name = 'World';
  this.double = HelloService.double;

* HelloService.retrieveJoke().then(function(joke) {
*   ctrl.joke = joke;
* });
});
```

You can now display the joke in the HTML template:

```html
<div ng-controller='HelloController as ctrl'>
  <p>Hello {{ ctrl.name }}!</p>
  <p>Two times two equals {{ ctrl.double(2) }}</p>
* <p>Did you hear? {{ ctrl.joke }}</p>
</div>
```

---
#### Using `service()`

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#20">Services</a>]

Services can also be defined with Angular's `service()` function instead of `factory()`.
They **both create services**; the only difference is how your **factory function** is invoked to create the service.

When using `factory()`, Angular will simply call your factory function to create the service:

```js
function MyServiceFactory() {
  var service = {};      // Create the service yourself
  service.foo = 'bar';   // Attach stuff to it
  return service;        // Return it
}

// Angular will execute "MyServiceFactory()" to create the service
angular.module('starter').factory('MyService', MyServiceFactory);
```

When using `service()`, Angular calls your factory function as a **constructor**:

```js
function MyServiceFactory() {
  this.foo = 'bar'; // Attach stuff to "this", which will be the service
}

// Angular will execute "new MyServiceFactory()" to create the service
angular.module('starter').service('MyService', MyServiceFactory);
```



---
### Filters

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

Filters are simple functions that format a value for display to the user.

To create a filter, you must use `filter()` and pass a factory function (where you can inject dependencies if you need them).
This function **must return the filter function** that will be called with the value:

```js
angular.module('starter').filter('hello', function() {
* return function(input) {
*   return 'Hello ' + input + '!';
* };
});
```

You apply a filter by "piping" a value into it.
Let's modify the first paragraph of our previous template a bit:

```html
<p>{{ `ctrl.name | hello` }}</p>
```

---
#### Built-in filters

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#26">Filters</a>]

Angular has a number of useful [built-in filters][angular-built-in-filters]:

Filter    | Purpose
:---      | :---
`filter`    | Filter an array
`currency`  | Format a number as currency
`number`    | Format a number as text (e.g. with thousands separator)
`date`      | Format date a string with a custom format
`json`      | Converts a JavaScript object into a JSON string
`lowercase` | Converts a string to lower case
`uppercase` | Converts a string to upper case
`limitTo`   | Select a subset from an array
`orderBy`   | Order an array's elements

---
#### A few filter examples

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#26">Filters</a>]

Several filters can be "piped" together:

```html
<p>{{ ctrl.name | uppercase | hello }}</p>
```

Let's try the `date` filter.
Create a date in your controller first:

```js
angular.module('starter').controller('HelloController', function(HelloService) {
  var ctrl = this;
  // ...
  `ctrl.now = new Date();`
});
```

Then filter it in the view:

```html
<p>It's {{ `ctrl.now | date: 'HH:mm:ss'` }}</p>
```



---
### Directives

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

[Directives][angular-directives] are **markers on a DOM element** that tell Angular's **HTML compiler** to attach a **specified behavior** to that DOM element, or to **transform** the DOM element and its children.

You've already used them: `ng-controller` and `ng-model` are directives.

A directive can be an **HTML attribute**:

```html
<input `ng-model='ctrl.value'` />
```

An **HTML class**:

```html
<p `class='my-directive'`>Hello</p>
```

Or a custom **HTML tag**:

```html
*<person-name person='person'></person-name>
```

---
#### Making your own directive

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#29">Directives</a>]

A directive is not magic, you can create your own using Angular's `directive` function.
This function must return a **directive definition object**:

```js
angular.module('starter')`.directive('redAlert', function() {`
  return `{`
*   link: function(scope, element, attributes) {
*     element.css('background-color', '#ff7777');
*   }
  `}`;
`}`);
```

You can then use this directive in the view:

```html
<div ng-controller='HelloController as ctrl'>
  <!-- ... -->
  <p `class='red-alert'`>Did you hear? {{ joke }}</p>
  <!-- ... -->
</div>
```

Note that you use **dash-delimited names in the view**,
but Angular looks for a directive with a corresponding **camel-case name**.

---
#### DOM manipulation in directives

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#29">Directives</a>]

The **main goal** of directives is to perform **DOM manipulation instead of controllers**,
so that controllers only have to deal with the view model.

A directive's link function has the following signature:

```
  function(scope, element, attributes)
```

* The `scope` is the Angular scope object corresponding to the HTML DOM element to which the directive is attached
* The `element` is a [jQuery][jquery] wrapper around the HTML DOM element
* The `attributes` are an object representing the HTML DOM element's attributes and values

If you have not included jQuery in your project, the `element` is actually a [jqLite wrapper][angular-element].

jqLite is a tiny, API-compatible **subset of jQuery** that allows Angular to manipulate the DOM in a cross-browser compatible way.
It implements only the **most commonly needed** functionality with the goal of having a **very small footprint**.

---
#### Built-in directives

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#29">Directives</a>]

Directive             | Description
:---                  | :---
`ng-app`              | Designate the root HTML element of an Angular application
`ng-class`            | Set CSS classes on an HTML element based on an expression
`ng-controller`       | Attach an Angular controller to an HTML element
`ng-click`            | Specify custom behavior when an HTML element is clicked
`ng-disabled`         | Sets the `disabled` attribute on an HTML element (e.g. `<input>`, `<button>`, `<select>`) based on an expression
`ng-if`               | Removes or recreates an HTML element based on an expression
`ng-model`            | Bind a form input (e.g. `<input>`, `<select>`, `<textarea>`) to a property of the Angular scope
`ng-repeat`           | Repeat an HTML element once per item from a list
`ng-show` / `ng-hide` | Shows or hides an HTML element based on an expression
`ng-switch`           | Conditionally swap HTML elements based on an expression

Read the [documentation][angular-directives-list] to learn more.



---
### Components

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

Components are a **special kind of directive** with simpler configuration and which is suitable for a **component-based application structure**.
They're a first step towards making applications with [web components][a-guide-to-web-components], an approach which has been taken further in Angular 2.

A component is basically:

* A **reusable view** (an HTML template)
* Some **logic** attached to this template (a controller)
* Clearly defined **inputs** and **outputs**

For this example, we'll create a `<person-name>` component to display a person.

---
#### Component HTML template

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

Let's define the HTML template for our component:

```html
{{ personNameCtrl.person.firstName }} {{ personNameCtrl.person.lastName }}
```

You can register a template in `index.html` by adding this somewhere in the `<body>`:

```html
<script type='text/ng-template' id='personName.html'>
  {{ personNameCtrl.person.firstName }} {{ personNameCtrl.person.lastName }}
</script>
```

**If** you are serving the content with a web server,
you can also save it to a `personName.html` file next to `index.html` (just the contents without the `<script>` tag around it).
Angular will make an AJAX request to load it dynamically.

The two solutions are **equivalent**.

---
#### Component definition

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

Call Angular's `component()` function to define a component.
The second argument is a **component definition object** with various properties that configure your component:

```js
angular.module('starter').component('personName', `{`
* templateUrl: 'personName.html',
* bindings: {
*   person: '<'
* },
* controller: function() {
*   var personNameCtrl = this;
* },
* controllerAs: 'personNameCtrl'
`}`);
```

* `templateUrl` tells Angular what **HTML template** to use
  (it can be a relative or absolute URL)
* `bindings` defines the component's **inputs** and **outputs**
* `controller` is the component's **controller** that will be applied to the template
  (just like if we used `ng-controller`)
* `controllerAs` is the **name of the controller** in the template
  (just like if we used `as personNameCtrl` in `ng-controller`)

---
#### Using a component

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

Let's add a list of people to our `HelloController`:

```js
angular.module('starter').controller('HelloController', function(HelloService) {
  var ctrl = this;
  // ...
* ctrl.people = [
*   { firstName: 'John', lastName: 'Doe' },
*   { firstName: 'Jane', lastName: 'Doe' },
*   { firstName: 'Richard', lastName: 'Doe' }
* ];
});
```

Now we can use our new component in the main view.
Let's also use `ng-repeat` to display all the people in a list:

```html
<p>
  <ul>
    <li `ng-repeat='person in ctrl.people'`>
      `<person-name person='person'></person-name>`
    </li>
  </ul>
</p>
```

It's good practice to structure your application into **reusable components**.

---
#### Component inputs

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

Components should only control **their own view and data**.
You can define the behavior of inputs with the values in the `bindings` object:

Binding | Description
:---    | :---
`<`     | Input with one-way binding: changes to the value will not be reflected in the parent (although if it's an object or array, changes to its contents will be reflected)
`=`     | Input with two-way binding (changes to the value will be reflected in the parent)
`@`     | String input (when the input is simply a string that doesn't change, i.e. not a variable)

When writing components, it's good practice to use `<` and `@` instead of `=`,
to make it clearer who controls what data.
Here's an example of the difference between using `<` and `@`:

```html
<!-- Input with '<': takes a variable -->
<hello name='person.name'></hello>

<!-- Input with '@': takes a string -->
<hello name='John Doe'></hello>
```

---
#### Component outputs

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

Outputs allow your component to **communicate with the parent component** (or view).
Let's modify our `personName.html` template and add a button to say hello to each person:

```html
{{ personNameCtrl.person.firstName }} {{ personNameCtrl.person.lastName }}
*<button type='button' ng-click='personNameCtrl.sayHello()'>Say hello</button>
```

Add the `sayHello` function to the component's controller.
Just log the name for now and make sure it works:

```js
angular.module('starter').component('personName', {
  templateUrl: 'personName.html',
  bindings: {
    person: '<'
  },
  controller: function() {
    var personNameCtrl = this;
*   personNameCtrl.sayHello = function() {
*     console.log(personNameCtrl.person);
*   };
  },
  controllerAs: 'personNameCtrl'
});
```

---
#### Output callbacks

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

Component outputs allow you to define **callbacks to component events**.

You define an output by adding a `&` binding.
This kind of binding is a **function** that is added to the scope and **which you can call**:

```js
angular.module('starter').component('personName', {
  templateUrl: 'personName.html',
  bindings: {
    person: '<',
*   onSayHello: '&'
  },
  controller: function() {
    var personNameCtrl = this;
    personNameCtrl.sayHello = function() {
*     personNameCtrl.onSayHello({ personToSalute: personNameCtrl.person });
    };
  },
  controllerAs: 'personNameCtrl'
});
```

---
#### Using a component output

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#33">Components</a>]

The **parent component** (or view) can plug a **callback function** into our new component output:

```html
<person-name
  person='person'
  `on-say-hello='ctrl.sayHelloToPerson(personToSalute)'`>
</person-name>
```

We can use the property names of the object passed to the output as variables in the parent
(the `personToSalute` variable name is defined by the component when it uses the output).

Define the `sayHelloToPerson` function in `HelloController` to react to the output:

```js
angular.module('starter').controller('HelloController', function(HelloService) {
  var ctrl = this;
  // ...
* ctrl.sayHelloToPerson = function(person) {
*   ctrl.name = person.firstName;
* };
});
```



---
### Application configuration and runtime

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

The remaining Angular elements are simple but useful:

* **Constants** allow to define constant values that can serve as configuration
* **Config functions** are run when configuring the Angular application,
  and allow you to customize services and other elements
* **Run functions** are run after configuration is complete,
  before your controllers, directives and components are applied

---
#### Constants

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#41">Application configuration and runtime</a>]

A constant is simply a **value that can be injected** into other Angular elements.
You define it by calling Angular's `constant()` function:

```js
angular.module('starter')`.constant('theMeaningOfLife', 42)`;
```

Simply inject it where you need it:

```js
angular.module('starter')
  .controller('HelloController', function(HelloService, `theMeaningOfLife`) {
    // ...
  });
```

---
#### Config functions

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#41">Application configuration and runtime</a>]

A **config function** is called while the Angular application is being configured:

```js
angular.module('starter').config(function() {
  // Do some stuff...
});
```

You **cannot** inject services into a config function, as they have not been instantiated yet.
You can however inject constants and **providers**, which can be used to customize services:

```js
angular.module('starter').config(function(`$httpProvider`, `theMeaningOfLife`) {
  // Get the object of default headers send by $http on every request
  var commonHeaders = `$httpProvider`.defaults.headers.common;
  // Tell $http to always request XML from the server
  commonHeaders.Accept = 'application/xml';
  // Tell $http to always send the MeaningOfLife header to the server
  commonHeaders.MeaningOfLife = `theMeaningOfLife`;
});
```

---
#### Run functions

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#41">Application configuration and runtime</a>]

A **run function** is called after the Angular application is configured but **before** your controllers, directives and components are applied:

```js
angular.module('starter').run(function(HelloService) {
  console.log('2 times 2 equals ' + HelloService.double(2));
});
```

You can use it to perform tasks that should be run once when your application starts.



---
class: center, middle
## Advanced concepts

.breadcrumbs[<a href="#1">Angular</a>]





---
### Scope hierarchy

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a>]

Many directives in Angular create a **new scope**, like `ng-controller` or `ng-repeat`.
Child scopes **inherit properties from their parent scope**.

<p class='center'><img src='images/scope-hierarchy.png' /></p>

You can see it in action [here][angular-codepen-scope-hierarchy].

---
#### Scopes and components

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#46">Scope hierarchy</a>]

When you define a component, you create an **isolated scope** which **does not inherit** from the parent scope.
Your component can only communicate with the parent view through **inputs** and **outputs**.

You can see it in action [here][angular-codepen-scope-components].



---
### Dependency injection and minification

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a>]

**Minification** is the process of **removing all unnecessary characters** from source code **without changing its functionality**.
Take the following code as an example:

```js
var numbers = [];
for (var i = 0; i < 20; i++) {
  numbers[i] = i;
}
```

It can be rewritten like this:

```js
for(var a=[i=0];++i<20;a[i]=i);
```

Although much less readable, minified code can be much smaller.
Minification tools are often used to **reduce file size**, especially when downloading a rich Internet application's **JavaScript files**.

---
#### Dependency injection is broken by minification

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#48">Dependency injection and minification</a>]

Angular relies on **variable names** to perform dependency injection by default:

```js
.controller('HelloController', function(`HelloService`) {
  var helloCtrl = this;
  helloCtrl.double = `HelloService`.double;
});
```

This code **will not work if variable names are minified**:

```js
.controller('HelloController',function(`a`){
var b=this;b.double=`a`.double;
});
```

How would Angular know that variable `a` should be your `HelloService`?

---
#### Inline array annotation

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#48">Dependency injection and minification</a>]

When you know your code is going to be minified, you should use the **inline array annotation** to declare your injected parameters:

```js
.controller('HelloController', `[ 'HelloService', function(HelloService) {`
  var helloCtrl = this;
  helloCtrl.double = HelloService.double;
`}]`);
```

That way, even when your variables are minified, the **names in the inline array** will tell Angular what you need to inject:

```js
.controller('HelloController',[`'HelloService'`,function(`a`){
var b=this;b.double=`a`.double;
}]);
```

You will often find the inline array annotation in examples as it is the recommended dependency injection syntax.



---
### Forms

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a>]

Angular provides **validation** services for forms and controls.
These validations are performed **client-side** for a better user experience: the user gets **instant feedback**.

However, keep in mind that although this provides a good user experience, it can easily be circumvented and thus **cannot be trusted**.
**Server-side validation is still necessary** for a secure application.

---
#### HTML validations

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#51">Forms</a>]

HTML 5 has built-in validation attributes to define validations on your form inputs (e.g. `<input>`, `<textarea>`, etc):

Attribute   | Description
:---        | :---
`min`       | Minimum value for a number
`max`       | Maximum value for a number
`minlength` | Minimum length for a string
`maxlength` | Maximum length for a string
`pattern`   | Regular expression for a string
`required`  | Required field

You simply add them to the HTML tag to ask the **browser** to validate user input:

```html
<input type='text' `required minlength=2` />
```

Read the [documentation][html-input] to learn more.

---
#### Using `novalidate`

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#51">Forms</a>]

In Angular, you don't want the browser to perform the validations as it's not flexible.
By adding the `novalidate` attribute to your form, it will **disable browser validation**:

```html
<form `novalidate`>
  <!-- ... -->
</form>
```

Angular **will validate** your inputs for you instead of the browser.
This enables **more complex validations and interaction**.
Another advantage is that Angular **polyfills** HTML 5 validations in older browsers that don't support them.

---
#### Binding to form state

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#51">Forms</a>]

Any form in an Angular application is an instance of [FormController][angular-form-controller].
Any input with the `ng-model` directive is an instance of [NgModelController][angular-ng-model-controller].
By adding a `name` attribute to these elements, you can **bind form state to the scope**:

```html
<form `name='userForm'` ng-submit='submit()' novalidate>
  <input type='text' ng-model='user.name' `name='name'` `required` />
  <div ng-if='`userForm.name.$error.required`'>Tell us your name.</div>
</form>
```

In this example, adding `name='userForm'` to the form **puts the `userForm` variable in the scope**:
this is the `FormController` instance.

Adding `name='name'` to the form field **puts the `userForm.name` variable in the scope**:
this is the `NgModelController` instance.

---
#### Form and `ng-model` controllers

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#51">Forms</a>]

Form and `ng-model` controllers have the following useful properties:

Ctrl       | Property     | Description
:---       | :---         | :---
Form       | `$pristine`  | True if the user has not interacted with the form
Form       | `$dirty`     | True if the user has interacted with the form
Form       | `$valid`     | True if all inputs are valid
Form       | `$invalid`   | True if at least one input is invalid
Form       | `$pending`   | True if an asynchronous validation is pending
Form       | `$submitted` | True if the form has been submitted (even if invalid)
`ng-model` | `$error`     | An object with all failing validations as keys
`ng-model` | `$untouched` | True if the input has not lost focus yet
`ng-model` | `$touched`   | True if the input has lost focus
`ng-model` | `$pristine`  | True if the user has not interacted with the input
`ng-model` | `$dirty`     | True if the user has interacted with the input
`ng-model` | `$valid`     | True if the input has no errors
`ng-model` | `$invalid`   | True if there is at least one error for the input

---
#### Complete validation example

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#51">Forms</a>]

```html
<form `name='userForm'` ng-submit='submit()' novalidate>
  <label>
    Name:
    <input type='text' ng-model='user.name' `name='name'` required minlength=2 />
  </label>
  <div ng-if='`userForm.name.$dirty`'>
    <div ng-if='`userForm.name.$error.required`'>Tell us your name.</div>
    <div ng-if='`userForm.name.$error.minlength`'>Your name is too short.</div>
  </div>

  <label>
    E-mail:
    <input type='email' ng-model='user.email' `name='email'` required />
  </label>
  <div ng-if='`userForm.email.$dirty`'>
    <span ng-if='`userForm.email.$error.required`'>Tell us your e-mail.</span>
    <span ng-if='`userForm.email.$error.email`'>This is not a valid e-mail.</span>
  </div>

  <input type='submit' ng-disabled='`userForm.$invalid`' value='Save' />
</div>
```

See it in action [here][angular-codepen-form-validation].
Read the [documentation][angular-forms] to learn more.

---
#### Custom synchronous validators

.breadcrumbs[<a href="#1">Angular</a> > <a href="#45">Advanced concepts</a> > <a href="#51">Forms</a>]

AngularJS provides basic implementation for most common HTML 5 validations,
but sometimes you need to add your own.
You can do that by defining a **validation directive**:

```js
var INTEGER_REGEXP = /^-?\d+$/;
app.directive('integer', function() {
  return {
    `require: 'ngModel',` // Gives access to the ng-model controller
    link: function(scope, element, attrs, `ngModelCtrl`) {
      `ngModelCtrl.$validators.integer` = function(modelValue, viewValue) {
        if (ngModelCtrl.$isEmpty(modelValue)) {
          return true; // Consider an empty value to be valid
        }

        // Return true if the string value is an integer
        `return INTEGER_REGEXP.test(viewValue);`
      };
    }
  };
});
```

Using it is as simple as applying the directive as an attribute:

```html
<input type='number' ng-model='size' name='size' min='0' max='10' `integer` />
```



---
## Resources

.breadcrumbs[<a href="#1">Angular</a>]

**Documentation**

* [Angular developer guide][angular-guide]
  * [Angular Forms][angular-forms]
* [Angular API reference][angular-api]
  * [Angular Components][angular-components]
  * [Angular Directives][angular-directives] ([built-in][angular-directives-list])
  * [Angular input][angular-input]
* [HTML input tag][html-input]

**Further reading**

* [A guide to web components][a-guide-to-web-components]
* [Angular 2 Components][angular-2-series-components]



[a-guide-to-web-components]: https://css-tricks.com/modular-future-web-components/
[ajax]: https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started
[angular]: https://angularjs.org/
[angular-api]: https://docs.angularjs.org/api
[angular-built-in-filters]: https://docs.angularjs.org/api/ng/filter
[angular-codepen]: http://codepen.io/AlphaHydrae/pen/LxoRze?editors=1010#0
[angular-codepen-form-validation]: http://codepen.io/AlphaHydrae/pen/EWZOOR?editors=1011
[angular-codepen-scope-hierarchy]: http://codepen.io/AlphaHydrae/pen/ryjaXN?editors=1010#0
[angular-codepen-scope-components]: http://codepen.io/AlphaHydrae/pen/LWxVzj?editors=1010#0
[angular-components]: https://docs.angularjs.org/guide/component
[angular-directives]: https://docs.angularjs.org/guide/directive
[angular-directives-list]: https://docs.angularjs.org/api/ng/directive
[angular-element]: https://docs.angularjs.org/api/ng/function/angular.element
[angular-form-controller]: https://docs.angularjs.org/api/ng/type/form.FormController
[angular-forms]: https://docs.angularjs.org/guide/forms
[angular-guide]: https://docs.angularjs.org/guide
[angular-input]: https://docs.angularjs.org/api/ng/directive/input
[angular-ng-model-controller]: https://docs.angularjs.org/api/ng/type/ngModel.NgModelController
[angular-2]: https://angular.io
[angular-2-series-components]: http://blog.ionic.io/angular-2-series-components/
[chrome]: https://www.google.com/chrome/
[chrome-dev]: https://developers.google.com/web/tools/chrome-devtools/console/
[html-history-api]: https://developer.mozilla.org/en-US/docs/Web/API/History_API
[html-input]: https://www.w3schools.com/tags/tag_input.asp
[jquery]: http://jquery.com
[minification]: https://en.wikipedia.org/wiki/Minification_(programming)
[typescript]: https://www.typescriptlang.org
[web-components]: https://developer.mozilla.org/en-US/docs/Web/Web_Components

    </textarea>

    <script src='../../assets/remark.min.js'></script>
    <script src='../../assets/jquery-3.1.1.slim.min.js'></script>
    <script src='../../assets/uri-1.18.7.js'></script>

    <script>
      var remarkOptions = {"highlightLines":true,"highlightSpans":true,"countIncrementalSlides":false};
      var slideshow = remark.create(remarkOptions);

      $('#slide-links .home-link').each(function() {
        var $a = $(this);

        var currentUri = URI(window.location.href);
        var home = currentUri.search(true).home

        if (typeof(home) == 'string' && home.match(/^[a-z0-9\-\_\.]+\/[a-z0-9\-\_\.]+(?:#.*)?$/i)) {
          $a.attr('href', 'https://github.com/' + home);
        } else if (typeof(home) == 'string') {
          $a.attr('href', home);
        } else if (currentUri.hostname() == 'localhost') {
          $a.attr('href', currentUri.path('').hash('').toString());
        }
      });

      var slides = $('.remark-slide-content');

      // Remove logo from body and add it to each slide
      $('#slide-logo').remove().prependTo(slides).show();

      // Remove links from body and add them to each slide
      $('#slide-links').remove().prependTo(slides).show();

      // Make all external links open a new window
      $('a[href]').not('.home-link').not('[href^="#"]').attr('target', '_blank');
    </script>
  </body>
</html>
