<!DOCTYPE html>
<html>
  <head>
    <title>Angular (COMEM+ Web Dev)</title>
    <meta charset='utf-8'>

    <link rel='stylesheet' href='../../assets/unsemantic-grid-base.css'>
    <link rel='stylesheet' href='../../assets/unsemantic-grid-desktop.css'>
    <link rel='stylesheet' href='../../assets/bootstrap-btn.css'>


    <link rel='stylesheet' href='../../assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz.css'>
    <link rel='stylesheet' href='../../assets/fonts/DroidSerif/DroidSerif.css'>
    <link rel='stylesheet' href='../../assets/fonts/UbuntuMono/UbuntuMono.css'>

    <style>
      body {
        font-family: 'Droid Serif';
      }

      h1, h2, h3, h4 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }

      h4 {
        font-size: 30px;
        margin: 1em 0;
      }

      h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
        text-decoration: underline;
      }

      .image-header h2, .image-header h3, .image-header h4, .image-header h5 .image-header h6 {
        display: none;
      }

      strong em {
        text-decoration: underline;
      }

      center {
        margin: 1em 0;
      }

      .remark-code, .remark-inline-code {
        font-family: 'Ubuntu Mono';
      }

      .remark-inline-code {
        padding: 0 2px;
        background-color: #eee;
        color: indianred;
        border-radius: 3px;
        border: thin solid #dddddd;
      }

      .remark-slide-content img {
        max-width: 100%;
      }

      .remark-slide-content p:first-child, .remark-slide-content ul:first-child {
        margin-top: 0;
      }

      .container {
        clear: both;
      }

      ul li {
        margin-top: 0.4em;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      table th, td {
        padding: 0.2em 0.4em;
      }

      table tbody th, td {
        border-top: 1px solid #c0c0c0;
      }

      pre:first-child {
        margin-top: 0;
      }

      blockquote {
        font-style: italic;
        border-left: 5px solid khaki;
        margin-left: 0;
        padding-left: 35px;
      }

      .center blockquote {
        margin-right: 0;
        padding-right: 35px;
        border-right: 5px solid khaki;
      }

      #slide-logo {
        position: absolute;
        top: 0;
        left: 0;
      }

      #slide-logo img {
        height: 60px;
      }

      .breadcrumbs {
        position: absolute;
        top: 15px;
        left: 5.333em;
        font-size: 15px;
        color: #c0c0c0;
      }

      .breadcrumbs a {
        color: #c0c0c0;
        text-decoration: none;
      }

      .breadcrumbs a:hover {
        text-decoration: underline;
      }

      .center.middle .breadcrumbs {
        display: none;
      }

      #slide-links {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 15px;
        text-align: right;
      }

      .w5 { width: 5%; }
      .w10 { width: 10%; }
      .w15 { width: 15%; }
      .w20 { width: 20%; }
      .w30 { width: 30%; }
      .w35 { width: 35%; }
      .w40 { width: 40%; }
      .w45 { width: 45%; }
      .w50 { width: 50%; }
      .w55 { width: 55%; }
      .w60 { width: 60%; }
      .w65 { width: 65%; }
      .w70 { width: 70%; }
      .w75 { width: 75%; }
      .w80 { width: 80%; }
      .w85 { width: 85%; }
      .w90 { width: 90%; }
      .w95 { width: 95%; }
      .w100 { width: 100%; }

      .compact-table table td {
        font-size: 0.9em;
      }

      .shadow {
        box-shadow: lightgrey 0 0 3px;
      }
      p.shadow { width: 100%; }
    </style>
  </head>
  <body>

    <!-- Slides top-left logo -->
    <span id='slide-logo' style='display:none;'><a href='http://www.heig-vd.ch/'><img src='../../assets/heig.png' /></a></span>

    <!-- Slides top-right links -->
    <div id='slide-links' style='display:none;'>
      <!-- GitHub link -->
      <a href='https://github.com/MediaComem/comem-webdev/tree/5e6ef522d4643d7489087c77204fe9414df4829b/subjects/angular/'><img src='../../assets/github.svg' width='24' height='24' alt='Source code' title='GitHub' /></a>
      <!-- Home link -->
      <a class='home-link' href='https://mediacomem.github.io/comem-webdev-docs/'><img src='../../assets/home.svg' width='24' height='24' alt='Home' title='Home' /></a>
    </div>

    <!-- Remark slides -->
    <textarea id='source'>
# Angular

Getting started with and understanding the basics of [AngularJS][angular] (version 1), the JavaScript front-end web application framework.

This material is used in [COMEM+](http://www.heig-vd.ch/comem) [web development courses](https://github.com/MediaComem/comem-webdev).


**You will need**

* [Google Chrome][chrome] (recommended, any browser with developer tools will do)

**Recommended reading**

* [JavaScript](../js/)
* [JavaScript closures](../js-closures/)
* [JavaScript prototypes](../js-prototypes/)





---
class: center, middle, image-header
## What is Angular?

.breadcrumbs[<a href="#1">Angular</a>]



<p class='center'><img src='images/angular.png' width='20%' /></p>

> "Angular is a complete **JavaScript front-end web application framework** created by Google to address many of the challenges of developing **rich single-page applications**."



---
### Traditional Model-View-Controller (MVC) architecture

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

In traditional MVC frameworks,
the application's **Controllers** receive the user's requests when navigating from page to page in the browser,
and respond by generating HTML **Views** from the **Model**.

<img src='images/mvc.png' width='100%' />



---
### DOM manipulation and AJAX requests

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

TODO: jQuery for simple apps



---
### Single-page applications

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

.grid-50[

A single-page application (SPA) is a web application that **fits on a single web page** but provides a user experience similar to that of a **desktop application**.

* All content is retrieved with a **single page load or loaded dynamically**
* The page **does not reload** (location hash or HTML5 History API to navigate between logical pages)
* Dynamic **communication with the web server** behind the scenes


]
.grid-50[

<img src='images/spa.png' width='100%' />




]
---
### Dynamic HTML

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

> "AngularJS is what HTML would have been, had it been designed for building web-apps."

HTML is great for displaying static documents, but is not so good at describing the **dynamic views** needed for **rich, interactive applications**.

With Angular, you can:
  * **Automatically bind data** to HTML elements
  * **Extend the HTML vocabulary** with new elements and attributes
  * **Isolate** your application logic from how the data is displayed



---
### Angular 2

.breadcrumbs[<a href="#1">Angular</a> > <a href="#2">What is Angular?</a>]

TODO: evolution of Angular (TypeScript)



---
class: center, middle
## Getting started

.breadcrumbs[<a href="#1">Angular</a>]





---
### Starter template

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

This tutorial assumes that you have a web page running with Angular included.
If you don't, you can save the following HTML to a file and open it in your browser:

```html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Angular demo</title>
    <script
src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js'>
    </script>
  </head>
  <body>
    <!-- Page content -->
  </body>
</html>
```



---
### Overview

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

.grid-50[

**Angular elements**

* Modules
* Controllers
* Scope
* Services
* Filters
* Directives & components
* Constants
* Config functions
* Run functions


]
.grid-50[

**Angular concepts**

* Interpolation
* Two-way data binding
* Dependency injection
* Form validation




]
---
### Modules

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

To make an Angular application, you have to create a **module**:

```js
// Create an angular module
angular.module('starter', []);
```

The two arguments of `angular.module()` are:

* A name (in this case: the name of your application)
* A list of dependencies (leave it blank for now)

To plug your Angular application into a web page, use the `ng-app` attribute.
It's customary to put it on the `<body>` tag:

```html
*<body ng-app='starter'>
  <!-- Page content -->
</body>
```



---
### Controllers

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

A controller is a function which **controls part of an HTML template**:

```js
angular.module('starter').controller(`'HelloController'`, function($scope) {
  $scope.name = 'World';
});
```

You can apply your controller to the HTML tags you want to control with the `ng-controller` attribute:

```html
<div `ng-controller='HelloController'`>
  <p>Hello {{ name }}!</p>
</div>
```

Let's dig into that line by line.

---
#### Creating a controller

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

Note that we call `angular.module()` again, but this time **only with the name**.
Instead of creating a new module, this returns the **existing module** with that name:

```js
`angular.module('starter')`.controller('HelloController', function($scope) {
  $scope.name = 'World';
});
```

Then, we define a controller named `HelloController`:

```js
angular.module('starter')`.controller('HelloController'`, function($scope) {
  $scope.name = 'World';
});
```

That controller is simply a **function**:

```js
angular.module('starter').controller('HelloController', `function($scope) {`
* $scope.name = 'World';
`}`);
```

---
#### The scope

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

The `$scope` object is the **view model**, i.e. the model that will be presented by the view:

```js
angular.module('starter').controller('HelloController', function(`$scope`) {
  `$scope.name` = 'World';
});
```

Properties you attach to the scope can be interpolated into HTML templates with double curly braces:

```html
<div ng-controller='HelloController'>
  <p>Hello `{{ name }}`!</p>
</div>
```

---
#### Named controllers

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

You can also access the scope by using **named controllers**.
Instead of using the `$scope`, you attach properties directly to the controller using `this`:

```js
angular.module('starter').controller('HelloController', function() {
  `this.name` = 'World';
});
```

In the template, use `MyController as myName` in the `ng-controller` attribute.
This assigns a name to the controller, which you can then use in interpolation:

```html
<div ng-controller='HelloController `as ctrl`'>
  <p>Hello {{ `ctrl.name` }}!</p>
</div>
```

Even when using this syntax, there is still a **scope** being created and used.

You will find examples of both (using only the scope or using named controllers) in the documentation and examples online.

---
#### Using functions in the view

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

You can also attach functions to the scope or controller:

```js
angular.module('starter').controller('HelloController', function() {
  this.name = 'World';
* this.double = function(n) {
*   return n * 2;
* };
});
```

These functions can be called in the view:

```html
<div ng-controller='HelloController as ctrl'>
  <p>Hello {{ ctrl.name }}!</p>
* <p>Two times two equals {{ double(2) }}</p>
</div>
```

---
#### Data binding

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

Using `ng-model`, you can bind data from the view to the scope:

```html
<p>Two times <input `ng-model='ctrl.value'` /> equals {{ double(`ctrl.value`) }}</p>
```

What's interesting is that it goes both ways with Angular:

```js
angular.module('starter').controller('HelloController', function() {
  var ctrl = this;
  // ...
* this.reset = function() {
*   ctrl.value = 2;
* };
});
```

Add a button below the previous HTML:

```html
<p>Two times <input ng-model='ctrl.value' /> equals {{ double(ctrl.value) }}</p>
*<button type='button' ng-click='ctrl.reset()'>Reset</button>
```

See how the view changes when you modify the value and click the reset button.

---
#### Two-way data binding

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#12">Controllers</a>]

.grid-50[

Traditional templating systems bind data **in only one direction**.

The developer has to write code that constantly syncs the view with the model and vice versa.

<img src='images/one-way-data-binding.png' width='100%' />


]
.grid-50[

With Angular changes are **immediately reflected** in both view and model.

This is one of the great strengths of Angular: the **controller** is completely **isolated from and unaware of the view**.
It does not care about DOM manipulation or rendering concerns.

<img src='images/two-way-data-binding.png' width='100%' />




]
---
### Services

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

In general, controllers shouldn't try to do too much.
They should contain only the business logic needed for a **single view**.
Keep controllers slim is by encapsulating work that doesn't belong to controllers into **services** and then using these services in controllers.

You can create a service by calling `factory()`.
As the name implies, you must pass a **factory function** that will create and return the service.

Let's create a service with that `double` function we wrote earlier:

```js
angular.module('starter')`.factory('HelloService', function() {`

  var service = {};

  service.double = function(n) {
    return n * 2;
  };

  return service;
`}`);
```

---
#### Dependency injection

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#19">Services</a>]

Using the service is as simple as adding it as an argument to our controller:

```js
angular.module('starter').controller('HelloController', function(`HelloService`) {
  this.name = 'World';
  this.double = `HelloService.double`;
});
```

This works because Angular is built around **dependency injection**:

* When you define a controller, service or other kind of Angular element, you give it **a name**
* In the factory function that creates the controller (or other element), you tell Angular **the names of the other elements you need** as arguments
* Angular will **inject** the required elements into your factory function for you

---
#### Why dependency injection?

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#19">Services</a>]

.grid-50[

**Strong coupling**

```js
function Car() {
  this.engine = new Engine(24);
}
function Engine(gasLead) {
  this.gas = new Gas(gasLead);
}
function Gas(lead) {
  this.lead = lead;
}
```

<img src='images/di-new.png' width='100%' />


]
.grid-50[

**Loose coupling** (with an *injector*)

```js
function Car(engine) {
  this.engine = engine;
}
function Engine(gas) {
  this.gas = gas;
}
function Gas(lead) {
  this.lead = lead;
}
```

<img src='images/di-injection.png' width='100%' />


]
---
#### The $http service

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#19">Services</a>]

Angular provides several useful services out of the box.
The `$http` service can make AJAX requests for you:

```js
angular.module('starter').factory(HelloService, function(`$http`) {

  var service = {};

  service.retrieveJoke = function() {
    return `$http.get('https://api.icndb.com/jokes/random')`.then(function(res) {
      return res.data.value.joke;
    });
  };

  // ...

  return service;
});
```

---
#### Making HTTP requests through a service

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#19">Services</a>]

It's good practice to make HTTP requests in a service rather than in a controller directly.
That way your controller remains **as simple as possible** and only manages the view:

```js
angular.module('starter').controller('HelloController', function(HelloService) {

  var ctrl = this;
  this.name = 'World';
  this.double = HelloService.double;

  HelloService.retrieveJoke().then(function(joke) {
    ctrl.joke = joke;
  });
});
```

You can now display the joke in the HTML template:

```html
<div ng-controller='HelloController as ctrl'>
  <p>Hello {{ ctrl.name }}!</p>
  <p>Two times two equals {{ double(2) }}</p>
* <p>Did you hear? {{ joke }}</p>
</div>
```



---
### Filters

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a>]

Filters are simple functions that format a value for display to the user.

To create a filter, you must use `filter()` and pass a factory function (where you can inject dependencies if you need them).
This function **must return the filter function** that will be called with the value:

```js
angular.module('starter').filter('hello', function() {
* return function(input) {
*   return 'Hello ' + input + '!';
* };
});
```

You apply a filter by "piping" a value into it.
Let's modify the first paragraph of our previous template a bit:

```html
<p>{{ `ctrl.name | hello` }}</p>
```

---
#### Built-in filters

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#24">Filters</a>]

Angular has a number of useful [built-in filters][angular-built-in-filters]:

Filter    | Purpose
:---      | :---
filter    | Filter an array
currency  | Format a number as currency
number    | Format a number as text (e.g. with thousands separator)
date      | Format date a string with a custom format
json      | Converts a JavaScript object into a JSON string
lowercase | Converts a string to lower case
uppercase | Converts a string to upper case
limitTo   | Select a subset from an array
orderBy   | Order an array's elements

---
#### A few filter examples

.breadcrumbs[<a href="#1">Angular</a> > <a href="#8">Getting started</a> > <a href="#24">Filters</a>]

Several filters can be "piped" together:

```html
<p>{{ ctrl.name | uppercase | hello }}</p>
```

Let's try the `date` filter:

```html
<p>It's {{ new Date() | date: 'HH:mm:ss' }}</p>
```



---
## TODO

.breadcrumbs[<a href="#1">Angular</a>]

* Directives & components
* Constants
* Config functions
* Run functions
* Scope hierarchy
* Form validation
* Angular gotchas (dom manipulation in controllers, injection syntaxes for minification)



---
## Resources

.breadcrumbs[<a href="#1">Angular</a>]

* [Angular][angular]



[angular]: https://angularjs.org/
[angular-codepen]: http://codepen.io/AlphaHydrae/pen/LxoRze?editors=1010#0
[angular-built-in-filters]: https://docs.angularjs.org/api/ng/filter
[chrome]: https://www.google.com/chrome/
[html-history-api]: https://developer.mozilla.org/en-US/docs/Web/API/History_API

    </textarea>

    <script src='../../assets/remark.min.js'></script>
    <script src='../../assets/jquery-3.1.1.slim.min.js'></script>
    <script src='../../assets/uri-1.18.7.js'></script>

    <script>
      var remarkOptions = {"highlightLines":true,"highlightSpans":true,"countIncrementalSlides":false};
      var slideshow = remark.create(remarkOptions);

      $('#slide-links .home-link').each(function() {
        var $a = $(this);

        var currentUri = URI(window.location.href);
        var home = currentUri.search(true).home

        if (typeof(home) == 'string' && home.match(/^[a-z0-9\-\_\.]+\/[a-z0-9\-\_\.]+(?:#.*)?$/i)) {
          $a.attr('href', 'https://github.com/' + home);
        } else if (typeof(home) == 'string') {
          $a.attr('href', home);
        } else if (currentUri.hostname() == 'localhost') {
          $a.attr('href', currentUri.path('').hash('').toString());
        }
      });

      var slides = $('.remark-slide-content');

      // Remove logo from body and add it to each slide
      $('#slide-logo').remove().prependTo(slides).show();

      // Remove links from body and add them to each slide
      $('#slide-links').remove().prependTo(slides).show();

      // Make all external links open a new window
      $('a[href]').not('.home-link').not('[href^="#"]').attr('target', '_blank');
    </script>
  </body>
</html>
